[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ariadne = "*"
flask = "*"
pymongo = "*"
sendgrid = "*"
boto3 = "*"
uwsgi = "*"

[dev-packages]
pytest = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
